<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.devbd.topnewsbd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        >

        <activity
            android:name=".splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".UI.SettingsActivity" />
        <activity android:name=".detail_activity.ProthomAloLatestDetailsActivity">

        </activity>
        <activity android:name=".detail_activity.ProthomAloTopDetailsActivity">

        </activity>
        <activity android:name=".webView_activity.AllNewsDetailsWebActivity">

        </activity>
        <activity android:name=".detail_activity.KalerkanthoLatestDeatilsActivity">

        </activity>
        <activity android:name=".detail_activity.KalerkanthoTopDeatilsActivity">

        </activity>
        <activity android:name=".detail_activity.BdNewsLatestDetailsActivity">

        </activity>
        <activity android:name=".detail_activity.BdNewsTopDetailsActivity">

        </activity>
        <activity android:name=".detail_activity.JugantorLatestDetailsActivity">

        </activity>
        <activity android:name=".detail_activity.JugantorTopDetailsActivity">

        </activity>
        <activity android:name=".detail_activity.Bd24LiveLatestDetailsActivity">

        </activity>
        <activity android:name=".detail_activity.Bd24LiveTopDetailsActivity">

        </activity>
        <activity android:name=".detail_activity.BBCBanglaLatestDetailsActivity">

        </activity>
        <activity android:name=".detail_activity.BBCBanglaTopDetailsActivity">

        </activity>
        <activity android:name=".detail_activity.SamakalLatestDetailsActivity">

        </activity>
        <activity android:name=".detail_activity.SamakalTopDetailsActivity">

        </activity>
        <activity android:name=".detail_activity.BDProtidinLatestDetailsActivity">

        </activity>
        <activity android:name=".detail_activity.BDProtidinTopDetailsActivity">

        </activity>
        <activity android:name=".detail_activity.NtvNewsLatestDetailsActivity">

        </activity>
        <activity android:name=".detail_activity.NtvNewsTopDetailsActivity">

        </activity>
        <activity android:name=".detail_activity.TopNewsLatestDetailsActivity">

        </activity>
        <activity android:name=".detail_activity.TopNewsTopDetailsActivity">

        </activity>
        <activity android:name=".about.AboutUS">

        </activity>

    </application>

</manifest>